<div ng-show="showAUTOCADCourse" class="col">
	<div class="row" style="min-height:1000px; margin-top:20px;margin-bottom: 1%;">
		<div class="col bgimgAUTO">
			<div class="title-course" style="padding-bottom: 50%;padding-top: 50%;">
				<div class="">
					<div>
						<div>
							<h1>
								<a target="_blank" href="https://www.instamojo.com/MySmartClassroom/?ref=offer_products"><p style="font-size: 130%;color: #fff;text-decoration: underline;">AutoCAD<sup style="top: -1.5em;font-size: 40%;">®</sup></p></a>
							</h1>
						</div>
					</div>
					<div>
						<div>
							<h4>
								<!--<p class="s-text-color-white">&nbsp;</p>
								<p class="s-text-color-white"><strong><em style="color:white">Aim High!</em></strong></p>-->
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col" style="padding: 5%">
			 <section>
          <div style="width:830; background-color:white; height620px;">
                <a class="example-image-link" href="//res.cloudinary.com/hrscywv4p/image/upload/c_fill,fl_lossy,h_300,w_300,f_auto,g_faces:auto,q_auto/v1/1220131/logo_autocad_m3rqlz.jpg" data-lightbox="example-set"><img style="height: 200px;" class="gateBannerImgs" src="//res.cloudinary.com/hrscywv4p/image/upload/c_fill,fl_lossy,h_300,w_300,f_auto,g_faces:auto,q_auto/v1/1220131/logo_autocad_m3rqlz.jpg" width="260" height="90" alt=""/></a>

                <a class="example-image-link" href="//res.cloudinary.com/hrscywv4p/image/upload/c_fill,fl_lossy,h_300,w_300,f_auto,g_faces:auto,q_auto/v1/1220131/images_1_thrzsf.jpg" data-lightbox="example-set"><img style="height: 200px;" class="gateBannerImgs" src="//res.cloudinary.com/hrscywv4p/image/upload/c_fill,fl_lossy,h_300,w_300,f_auto,g_faces:auto,q_auto/v1/1220131/images_1_thrzsf.jpg" alt=""width="260" height="90" /></a>
                
                <a class="example-image-link" href="//res.cloudinary.com/hrscywv4p/image/upload/c_fill,fl_lossy,h_300,w_300,f_auto,g_faces:auto,q_auto/v1/1220131/car_autocad_ee3uk1.jpg" data-lightbox="example-set"><img style="height: 200px;" class="gateBannerImgs" src="//res.cloudinary.com/hrscywv4p/image/upload/c_fill,fl_lossy,h_300,w_300,f_auto,g_faces:auto,q_auto/v1/1220131/car_autocad_ee3uk1.jpg" width="260" height="90" alt="" /></a>
               
                <a class="example-image-link" href="//res.cloudinary.com/hrscywv4p/image/upload/c_fill,fl_lossy,h_300,w_300,f_auto,g_faces:auto,q_auto/v1/1220131/images_oxnkpt.jpg" data-lightbox="example-set"><img style="height: 200px;" class="gateBannerImgs" src="//res.cloudinary.com/hrscywv4p/image/upload/c_fill,fl_lossy,h_300,w_300,f_auto,g_faces:auto,q_auto/v1/1220131/images_oxnkpt.jpg" width="260" height="90" alt="" /></a>
          </div>
			 </section>
		</div>
	</div>
	<div>
	</div>

</div>

<div>
	<section class="" style="background-color: #f3f0e0;">
		<div class="container" style="padding:38px 30px;background-color:#fff;">
			<h2 class="s-component-content s-font-title" style="text-align: center;">
				<p>
					<h3 class="Heading">Also we'll be providing you best study materials and coursework.</h3>
				</p>
			</h2>
                <h4 style="">This course is highly recommended for ,</h4>
                <p class="detailsBox">
                    This course is designed for the students of First Year Engineering, though can be opted by any one looking to start working with AutoCAD<sup>®</sup>. This Course will provide a complete understanding of working with AutoCAD<sup>®</sup> for making various 2-D and also a basic introduction to 3-D modelling. The course also introduces many worked examples, and brings sufficient practice examples too.
                </p>
                <ol style="margin-left: 5%;"> 
				<li class="gateSection">Introduction and AutoCAD<sup>®</sup> Interface</li>
				<li class="gateSection">Drawing Concepts</li>
				<li class="gateSection">Modification Conceptsr</li>
				<li class="gateSection">Snapping to Coordinates</li>
				<li class="gateSection">Drawing Tools</li>
				<li class="gateSection">Making Powerful Selections</li>
				<li class="gateSection">Layers</li>
				<li class="gateSection">Conclusions</li>
			</ol>
            <h2 class="s-component-content s-font-title" style="text-align: center;">
				<p>
					<h4 class="italic">Course Fee - (₹ 6000/$ 120/£ 100)</h4>
                    <h4 class="italic">(Check Available discounts upto 70% or even more)</h4>
				</p>
			</h2>
			<div class="container">
				<div class="col" style="padding: 3%">
					<div>
						<div>
							<img style="margin-left: 15%;" class="gateBannerImgs" src="//res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_9000,w_1200,f_auto,q_auto/v1/1220131/ac07a021-2c13-495c-a0a1-1e0b303b3614_huyu3u.jpg"
								width="254" height="198" alt="" title="" data-description="" />
						</div>
						<div>
							<img style="margin-left: 15%;" class="gateBannerImgs" src="//res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_9000,w_1200,f_auto,q_auto/v1/1220131/our_team_hwz3li.jpg"
								width="254" height="198" alt="" title="" data-description="" />
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col">
						<label style="display: block;text-align: center; margin-bottom: 15px;font-size:110%;font-family: helvetica, sans-serif;font-weight: bold;color: black">Just Relax and leave all your concerns for us to resolve...😊</label>

						<div class="">
							<a href="https://www.instamojo.com/MySmartClassroom/?ref=offer_products" target="_blank"><button type="submit" class="cws-button bt-color-3 border-radius alt icon-right" style="margin-left: 15%;margin-bottom: 5%;">Want to Purchase a Course? Click Here.<i class="fa fa-angle-right"></i></button></a>
						</div>
						<div>
							<label style="display: block;text-align: center;margin-bottom: 15px; font-size:110%;font-family: helvetica, sans-serif;font-weight: bold;color: black">If you have any special query then just leave us a message, our team will resolve all your issues in a flash!!</label>
						</div>
						<div style="margin-left: 15%;margin-right: 15%;">
							<input type="text" class="form-control inqries" placeholder="Name" aria-label="Name" aria-describedby="basic-addon2">
							<input type="text" class="form-control inqries" placeholder="Email" aria-label="Email" aria-describedby="basic-addon2">
							<textarea class="form-control inqries" placeholder="Message" aria-label="Message" rows="5" id="comment"></textarea>

							<button type="submit" class="cws-button bt-color-3 border-radius alt icon-right" style="margin-left: 30%;">Submit<i class="fa fa-angle-right"></i></button>
						</div>
					</div>
					<div class="col" style="padding:4%;">
						<label style="display: block;text-align: center; margin-bottom: 15px;font-size:110%;font-family: helvetica, sans-serif;font-weight: bold;color: black;font-size: x-large;">Get in Touch !</label>
						<p class="ex2">Share your details and get up to 50% discount on courses, also we'll send you FREE Demo Access.</p>
						<div style="margin-left: 15%;margin-right: 15%;">

							<input type="text" class="form-control inqries" placeholder="Name" aria-label="Name" aria-describedby="basic-addon2">
							<input type="text" class="form-control inqries" placeholder="Email" aria-label="Email" aria-describedby="basic-addon2">
							<input type="text" class="form-control inqries" placeholder="Mobile" aria-label="Mobile" aria-describedby="basic-addon2">
							<textarea class="form-control inqries" placeholder="subject/s interested in-" aria-label="subject/s interested in-" rows="5"
								id="comment"></textarea>
							<button type="submit" class="cws-button bt-color-3 border-radius alt icon-right" style="margin-left: 30%;">Submit<i class="fa fa-angle-right"></i></button>
						</div>
					</div>
				</div>
			</div>

	</section>

	</div>