<div class="row" style="min-height:660px; margin-top:20px;">
	<div class="col bgimgGate">
	</div>

	<div class="col" style="padding: 5%">
		<div style="width:830; background-color:white; height620px;">

			<div>
				<a href="https://www.instamojo.com/MySmartClassroom/?ref=offer_products" target="_blank">
					<img class="gateBannerImgs" src="//res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_1440,w_720,f_auto,q_auto/v1/1220131/Slide6_ih2gmb.jpg"
						width="160" height="90" alt="" title="" data-description="" /></a>
			</div>

			<div>
				<a href="https://www.instamojo.com/MySmartClassroom/?ref=offer_products" target="_blank">
					<img class="gateBannerImgs" src="//res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_1440,w_720,f_auto,q_auto/v1/1220131/Slide5_ny6afo.jpg"
						width="160" height="90" alt="" title="" data-description="" /></a>
			</div>
			<div>
				<a href="https://www.instamojo.com/MySmartClassroom/?ref=offer_products" target="_blank">
					<img class="gateBannerImgs" src="//res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_1440,w_720,f_auto,q_auto/v1/1220131/Slide9_yapcqt.jpg"
						width="160" height="90" alt="" title="" data-description="" /></a>
			</div>
			<div>
				<a href="https://www.instamojo.com/MySmartClassroom/?ref=offer_products" target="_blank">
					<img class="gateBannerImgs" src="//res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_1440,w_720,f_auto,q_auto/v1/1220131/Slide8_uxledz.jpg"
						width="160" height="90" alt="" title="" data-description="" /></a>
			</div>
			<div>
				<a href="https://www.instamojo.com/MySmartClassroom/?ref=offer_products" target="_blank">
					<img class="gateBannerImgs" src="//res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_1440,w_720,f_auto,q_auto/v1/1220131/Slide11_g0m1r6.jpg"
						width="160" height="90" alt="" title="" data-description="" /></a>
			</div>

			<div>
				<a href="https://www.instamojo.com/MySmartClassroom/?ref=offer_products" target="_blank">
					<img class="gateBannerImgs" src="//res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_1440,w_720,f_auto,q_auto/v1/1220131/Slide7_fnvorl.jpg"
						width="160" height="90" alt="" title="" data-description="" /></a>
			</div>


		</div>
	</div>
</div>

<div>
	<section class="" style="background-color: #f3f0e0;">
		<div class="container" style="padding:38px 5%;background-color:#fff;">
			<h2 class="s-component-content s-font-title" style="text-align: center;">
				<p >
					<h3 class="Heading">Also we'll be providing you best study materials and coursework.</h3>
				</p>
			</h2>
			<h4 style="">This course is highly recommended for ,</h4>
			<br>
			<ol>
				<li class="gateSection">Students in <b>3rd or Final year</b>, who aim to crack GATE and want to pursue Masters in Top institutes of country.</li>
				<li class="gateSection">Undergrads who want to <b>join a PSU</b> right after their graduation.</li>
				<li class="gateSection"><b>Working Professionals</b> who aim to crack GATE along with their jobs.</li>
				<li class="gateSection">Aspirants who cannot afford to join super expensive classroom programs.</li>
			</ol>
			<h4>We have conceptual and result-oriented dedicated faculty who have a rich experience in coaching arena. They are the best
				in the field.</h4>
			<br>
			
			<h2 class="s-component-content s-font-title" style="text-align: center;">
				<p>
					<h4 class="italic">We bring you the best faculties from around the country!!</h4>
				</p>
			</h2>
			<h4 style="text-decoration:underline;">Some of our Faculty Members :-</h4>
			
			<ol>
				<li class="gateSection">Gokul Ramesh, GATE 2011 <b>AIR-1</b> </li>
				<li class="gateSection">Vivek Babar, GATE 2011 AIR - 30, (pursuing Ph.D. from IISc, Bengaluru)</li>
				<li class="gateSection">Parag Ramteke, B.Tech IIT Kharagpur</li>
				<li class="gateSection">Harshal Mathurkar, M.Tech IIT Kanpur</li>
				<li class="gateSection">Sushant Penshanwar, GATE 2014 AIR-535, M.Tech, IIT Mumbai</li>
				<li class="gateSection">Amol Lanjewar, B.Tech IIT Guwahati</li>
				<li class="gateSection">Manoj Sarve, B.Tech IIT Guwahati</li>
				<li class="gateSection">Ravi Patel, B.Tech NIT Silchar, (pursuing Ph.D. from IIT Kanpur)</li>
				<li class="gateSection">Sunil Biradar, M.Tech NIT Calicut</li>
				<li class="gateSection">Ankur Bansal, B.Tech NIT Silchar</li>
			</ol>	
			<h4>Our goal at <b>MySmartClassroom</b> is to provide effective solutions designed to boost academics by dealing with small
				or a large problems that students may have. And give you the flexibility of <i><b>studying from anywhere at any time.</b><i></h4>
					<br>
					<h4>The best part is that you get so many benefits, including dedicated help and doubt solving, test-series and multiple revisions.</h4>
					<br>
					<h4>You can attend the class, either as <b>LIVE Session or On-Demand</b>, anytime-anywhere and as many times you like - so you <i><b>never miss a thing.<b><i></h4>
					<br>
					<h4>Icing on the Cake is that, this all comes at a very small price.</h4>

					<h2 class="s-component-content s-font-title" style="text-align: center;">
				<p>
					<h4 class="italic">Entire Course –</h4 >
					<h4 class="italic">GATE 2018 - ₹.<span class="overlineEffect">10000</span>  8000 (Course Runs from Aug 2017 – Feb 2018, + Test Series in Jan-2018)</h4 >
					<h4 class="italic">GATE 2019 – ₹ <span class="overlineEffect">12000</span> 10000 (Course Runs from Aug 2017 – Feb 2019, + 2 x Test Series in Jan-2018 & Jan-2019 )</h4 >
				</p>
			</h2>
			<div class="container">
						<div class="col" style="padding: 3%">
							<div>
								<div>
									<img style="margin-left: 15%;" class="gateBannerImgs" src="//res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_9000,w_1200,f_auto,q_auto/v1/1220131/ac07a021-2c13-495c-a0a1-1e0b303b3614_huyu3u.jpg"
										width="254" height="198" alt="" title="" data-description="" />
								</div>
								<div>
									<img style="margin-left: 15%;" class="gateBannerImgs" src="//res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_9000,w_1200,f_auto,q_auto/v1/1220131/our_team_hwz3li.jpg"
										width="254" height="198" alt="" title="" data-description="" />
								</div>
							</div>
						</div>
			</div>

				<!--<div class="">
					<a  href="https://www.instamojo.com/MySmartClassroom/?ref=offer_products" target="_blank"> <button type="submit" class="cws-button bt-color-3 border-radius alt icon-right" style="margin-left: 35%;">Want to Purchase a Course? Click Here.<i class="fa fa-angle-right"></i></button>
					</a>
				</div>-->
		<div class="container">
			<div class="row">
				<div class="col">
					<label style="display: block;text-align: center; margin-bottom: 15px;font-size:110%;font-family: helvetica, sans-serif;font-weight: bold;color: black">Just Relax and leave all your concerns for us to resolve...😊</label>
					<div class="">
						<a  href="https://www.instamojo.com/MySmartClassroom/?ref=offer_products" target="_blank"><button type="submit" class="cws-button bt-color-3 border-radius alt icon-right" style="margin-left: 15%;margin-bottom: 5%;">Want to Purchase a Course? Click Here.<i class="fa fa-angle-right"></i></button></a>
					</div>
					<div>
						<label style="display: block;text-align: center;margin-bottom: 15px; font-size:110%;font-family: helvetica, sans-serif;font-weight: bold;color: black">If you have any special query then just leave us a message, our team will resolve all your issues in a flash!!</label>
					</div>
					<div style="margin-left: 15%;margin-right: 15%;">
						<input type="text" class="form-control inqries" placeholder="Name" aria-label="Name" aria-describedby="basic-addon2">
						<input type="text" class="form-control inqries" placeholder="Email" aria-label="Email" aria-describedby="basic-addon2">
						<textarea class="form-control inqries" placeholder="Message" aria-label="Message" rows="5" id="comment"></textarea>

						<button type="submit" class="cws-button bt-color-3 border-radius alt icon-right" style="margin-left: 30%;">Submit<i class="fa fa-angle-right"></i></button>
					</div>
				</div>
				<div class="col" style="padding:4%;">
					<label style="display: block;text-align: center; margin-bottom: 15px;font-size:110%;font-family: helvetica, sans-serif;font-weight: bold;color: black;font-size: x-large;">Get in Touch !</label>
					<p class="ex2">Share your details and get up to 50% discount on courses, also we'll send you FREE Demo Access.</p>
					<div style="margin-left: 15%;margin-right: 15%;">

						<input type="text" class="form-control inqries" placeholder="Name" aria-label="Name" aria-describedby="basic-addon2">
						<input type="text" class="form-control inqries" placeholder="Email" aria-label="Email" aria-describedby="basic-addon2">
						<input type="text" class="form-control inqries" placeholder="Mobile" aria-label="Mobile" aria-describedby="basic-addon2">
						<textarea class="form-control inqries" placeholder="subject/s interested in-" aria-label="subject/s interested in-" rows="5"
							id="comment"></textarea>
						<button type="submit" class="cws-button bt-color-3 border-radius alt icon-right" style="margin-left: 30%;">Submit<i class="fa fa-angle-right"></i></button>
					</div>
				</div>
			</div>
		</div>

	</section>