<div class="row" style="min-height:800px; margin-top:20px;">
	<div class="col bgimgGate">
		<!--div class="title-course" style="padding-bottom: 50%;padding-top: 50%;">
									<div class="">
										<div >
											<div>
												<h1><p style="font-size: 130%;">First Year Engineering</p></h1></div>
										</div>
										<div >
											<div >
												<h4 ><p class="s-text-color-white">&nbsp;</p><p class="s-text-color-white"><strong><em style="color:white">Choose your Guidance Wisely!</em></strong></p><p class="s-text-color-white">&nbsp;</p><p class="s-text-color-white"><strong><em style="color:white">For securing the highest CGPA</em></strong></p></h4>
											</div>
										</div>
									</div
							</div-->
	</div>

	<div class="col" style="padding: 5%">
		<div style="width:830; background-color:white; height620px;">

			<div>
				<a href="https://www.instamojo.com/MySmartClassroom/?ref=offer_products" target="_blank">
					<img class="gateBannerImgs" src="//res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_1440,w_720,f_auto,q_auto/v1/1220131/Slide6_ih2gmb.jpg"
						width="160" height="90" alt="" title="" data-description="" /></a>
			</div>

			<div>
				<a href="https://www.instamojo.com/MySmartClassroom/?ref=offer_products" target="_blank">
					<img class="gateBannerImgs" src="//res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_1440,w_720,f_auto,q_auto/v1/1220131/Slide5_ny6afo.jpg"
						width="160" height="90" alt="" title="" data-description="" /></a>
			</div>
			<div>
				<a href="https://www.instamojo.com/MySmartClassroom/?ref=offer_products" target="_blank">
					<img class="gateBannerImgs" src="//res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_1440,w_720,f_auto,q_auto/v1/1220131/Slide9_yapcqt.jpg"
						width="160" height="90" alt="" title="" data-description="" /></a>
			</div>
			<div>
				<a href="https://www.instamojo.com/MySmartClassroom/?ref=offer_products" target="_blank">
					<img class="gateBannerImgs" src="//res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_1440,w_720,f_auto,q_auto/v1/1220131/Slide8_uxledz.jpg"
						width="160" height="90" alt="" title="" data-description="" /></a>
			</div>
			<div>
				<a href="https://www.instamojo.com/MySmartClassroom/?ref=offer_products" target="_blank">
					<img class="gateBannerImgs" src="//res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_1440,w_720,f_auto,q_auto/v1/1220131/Slide11_g0m1r6.jpg"
						width="160" height="90" alt="" title="" data-description="" /></a>
			</div>

			<div>
				<a href="https://www.instamojo.com/MySmartClassroom/?ref=offer_products" target="_blank">
					<img class="gateBannerImgs" src="//res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_1440,w_720,f_auto,q_auto/v1/1220131/Slide7_fnvorl.jpg"
						width="160" height="90" alt="" title="" data-description="" /></a>
			</div>


		</div>
	</div>
</div>

<div style="background-color: #f3f0e0; ">
	Test
</div>